
.input-group-text {
    display: flex;
    width: 100%;
    position: relative;
  }
  
  .icon {
    position: absolute;
    right: 10px; 
    cursor: pointer;
    color: #000000; 
    font-size: 1.2rem;
    top: 50%;
    transform: translateY(-50%);
  }
  
  

