#reset-page {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 100%;
    width: 100%;
    gap: 100px;
    background-image: linear-gradient(to left bottom, #d2eefc, #cfeefd, #ccedfe, #c9edfe, #c6edff);
}

.custom-form {
    display: flex;
    flex-direction: column;
}

.left {
    width: 50%;
    margin-left: 50px;
}

.leftimg {
    width: 100%;
}

.right {
    padding: 2rem;
    align-items: center;
    text-align: center;
    width: 35%;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 1);
}

.right button {
    width: 40%;
    height: 2.rem;
    border-radius: 2rem;
    cursor: pointer;
    font-size: 1.3rem;
    font-weight: bolder;
    background-color: rgba(28, 100, 243, 0.919);
    border: none;
    margin-top: 8px;
}

.custom-button {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-sizing: border-box;
    background-color: #0071e9;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
}

.custom-button:hover {
    background-color: #058efe;
}

@media only screen and (max-width: 1400px) {
    #reset-page {
        gap: 5rem;
    }

    .left {
        width: 70%;
    }

    .right {
        width: 70%;
    }
}

@media only screen and (max-width: 1024px) {
    #reset-page {
        gap: 0rem;
    }

    .left {
        display: none;
    }

    .right {
        width: 50%;
    }
}

@media screen and (max-width: 770px) {
    #reset-page {
        gap: 0rem;
    }

    .left {
        display: none;
    }

    .right {
        width: 65%;
    }
}

@media only screen and (max-width: 550px) {
    .right {
        width: 80%;
    }
}
